
<nav class="menu">
  <ul>
    <li>{{link-to 'Home' 'application'}}</li>
    <li>{{link-to 'Anagrams' 'anagrams'}}</li>
    <li>{{link-to 'Subanagrams' 'subanagrams'}}</li>
  </ul>
</nav>


<div class="wrapper">
  {{outlet}}
</div>


